.project-container {
     width:50vw;
     height:350px;
     overflow-y: auto;
     background-color: #fff;
     margin:auto;
}

.project-container::-webkit-scrollbar {
     background-color: #e3e8ee;
     margin-block: 5px;
     width: 10px;
}

.project-container::-webkit-scrollbar-thumb {
     background-color: #5051F9;
     border-radius: 15px;
}