.todo-list-container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin:1rem ;
}

.todo-main-section {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
    margin: 8px;
    padding:0.5rem;
}

.list-container {
    background-color: var(--box-background-color);
}

#addBtn{
    text-align: center;
   padding: 0.3rem;
   border-radius: 15px;
   border: none;
   margin-block:0.2rem;
   background-color: yellow;
   width: 80px;
}


.item{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 25px 10px;
    height: 20px;
}

.item-left{
    display: flex;
    justify-content: space-between;
    width: auto;
}

.delete-button{
    border: 0;
    background-color: white;
}