.dashboard-container {
     width:100vw;
     height:100vh;
     background-color: var(--background-color);
     display: flex;
     justify-content: space-evenly;
     padding: 0.6rem;
}

.dashboard-body-container{
     width:85%;
     height:100%;
     background-color: var(--container-background-color);
     padding: 1rem;
     border-radius: 0.8rem;
     overflow-y: auto;

}

