.app-body {
     background-color: yellow;
     display: flex;
     padding: 20px;
}

.body-container{
     background-color: rgb(225, 220, 220);
     padding: 20px;
     border-radius: 0.8rem;
     display: flex;
     justify-content: space-between;
}

.top-container{
     display: flex;
     flex-direction: column;
}

.bottom-container{
     display: flex;
     flex-direction: column;
}
